/* INFO */
/* Author : REYZAN */
/* @GaetanChamoret */

/* Google Fonts */
/* Font#1 -- Mukta [ Title index ] */    @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap');

.title-main-index {
    width: 50%;
    padding: 0.1rem;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 4rem;
    color: rgba(17, 17, 17, 0.8);
    border: 0.10em solid rgba(17, 17, 17, 0.75);
    border-radius: 0.4rem;
}

.bi-person-badge_index {
    font-size: 2.25rem;
}

.button-ask-more-index {
    margin-top: 2rem;
}

.bi-arrow-down-circle-index {
    font-size: 3.25rem;
    cursor: pointer;
}

.title-sub-index
{
    margin-top: 1.5rem;
}